<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wlison.view.nice">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Main">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.NiceSpinnerActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.NiceSwitchActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.NiceCalenderActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.NicePopupWindowActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.NiceCoordinatorActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.NiceScrollViewActivity" android:screenOrientation="portrait"/>

    </application>

</manifest>